.add {
  background-color: rgb(255, 200, 0);
  padding: 0.5%;
  text-align: center;
  font-weight: 600;
  font-size: small;
}

.header-container {
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  border-bottom: 2px solid rgb(186, 184, 184);
}

.header-left {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: flex-start;
}

.header-right {
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  font-size: x-large !important;
  font-weight: 700 !important;
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 5%;
  cursor: pointer;
}

.search-box {
  width: 400px;
}

.search-field {
  background-color: #f1f0f0;
  padding: 3px !important;
  border-radius: 3px;
}

.sections {
  font-weight: 600 !important;
  cursor: pointer;
}